html {
  font-size: 94%;
}

* {
  font-family: sans-serif;
}

p {
  margin: 0px;
  padding: 0px;
}

ul {
  margin: 0px;
  padding-left: 1rem;
  padding-top: 0.25rem;
}

a,
a:link,
a:visited,
a:active,
a:hover {
  text-decoration: none;
}

.contact {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.25rem;
}

.name {
  font-size: 2.25rem; /* 36px */
  line-height: 2.5rem; /* 40px */
  font-weight: 700;
}

.social-profiles {
  display: flex;
  column-gap: 1.5rem;
  padding-top: 0.5rem;
}

.contact-grid {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  grid-template-rows: repeat(3, 1fr);
  column-gap: 0.5rem;
}

.contact-icon {
  place-self: center;
}

.contact-detail {
  justify-self: start;
  align-self: center;
}

.section-heading {
  font-size: 1.25rem; /* 20px */
  line-height: 1.75rem; /* 28px */
  font-weight: 600;
  border-bottom: 2px solid #000;
  text-transform: uppercase;
}

.section-content {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0.5rem;
}

.content-heading {
  font-weight: 600;
  line-height: 1.5rem; /* 24px */
  text-transform: uppercase;
}

.education-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.experience-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.project-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.project-techstack {
  text-align: right;
}

.project-techstack > span:not(:last-child) {
  padding-right: 0.25rem;
  border-right: 1px solid #000;
}
